* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .screen {
    width: 414px;
    height: 736px;
    background: rgba(250, 249, 249, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .circleOne {
    width: 207px;
    height: 191px;
    background: rgba(160,157,157,0.05000000074505806);
    opacity: 1;
    position: absolute;
    top: -35px;
    left: -125px;
    border-radius: 50%;
  }
  .circleTwo {
    width: 179px;
    height: 183px;
    background: rgba(186,185,198,0.1899999976158142);
    opacity: 1;
    position: absolute;
    top: -106px;
    left: -26px;
    border-radius: 50%;
  }
  .profileIcon {
    width: 92px;
    height: 92px;
    background: rgba(255,217,240,1);
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 44px;
    border-radius: 50%;
  }
  .textName {
    width: 155px;
    color: rgba(76,76,76);
    position: absolute;
    top: 57px;
    left: 161px;
    font-family: Poppins;
    font-size: 26px;
    opacity: 1;
    text-align: left;
  }
  .roseRectangle {
    width: 185px;
    height: 49px;
    background: rgba(229,0,78,0.6299999952316284);
    opacity: 1;
    position: relative;
    top: 262px;
    left: 112px;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    font-family: 'Poppins';
    font-size: 22px;
    color: whitesmoke;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    border: none;
    box-shadow: -4px 4px 2px rgb(171 171 171 / 50%);
  }
  .textDenuncias {
    width: 125px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 7px;
    left: 30px;
    font-family: Roboto;
    font-size: 26px;
    opacity: 1;
  }
  .text {
    width: 263px;
    color: rgb(123 123 123);
    position: absolute;
    top: 210px;
    left: 71px;
    font-family: 'Poppins';
    font-size: 25px;
    opacity: 1;
    text-align: center;
  }
  .textLinhasApoio {
    width: 193px;
    color: rgb(179 179 179 / 79%);
    position: absolute;
    top: 350px;
    left: 108px;
    font-family: 'Poppins';
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  #iconmenuPaginaInicialAdolescentes {
    top: 56px;
    left: 343px;
    border: none;
    position: absolute;
    font-size: x-large;
    background: none;
    color: rgb(195 195 194);
}
#iconPaginaInicialAdolescentes {
    top: 30px;
    left: 30px;
    border: none;
    position: absolute;
    font-size: 33px;
    background: none;
    color: rgb(216 216 216);
}
#iconChatPaginaInicialAdolescentes {
    top: 30px;
    left: 108px;
    border: none;
    position: absolute;
    font-size: 33px;
    background: none;
    color: rgb(216 216 216);
}
#iconGamesPaginaInicialAdolescentes {
    top: 30px;
    left: 193px;
    border: none;
    position: absolute;
    font-size: 33px;
    background: none;
    color: rgb(216 216 216);
}
#iconForumPaginaInicialAdolescentes {
    top: 33px;
    left: 273px;
    border: none;
    position: absolute;
    font-size: 33px;
    background: none;
    color: rgb(216 216 216);
}
#iconDireitosPaginaInicialAdolescentes {
    top: 30px;
    left: 354px;
    border: none;
    position: absolute;
    font-size: 33px;
    background: none;
    color: rgb(216 216 216);
}
.firstGrayRectangle {
    width: 64px;
    height: 64px;
    background: rgb(243 243 243);
    opacity: 1;
    position: absolute;
    top: 13px;
    left: 16px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    overflow: hidden;
    border: none;
    box-shadow: -4px 4px 2px rgb(204 203 203 / 50%);
  }
  .secondGrayRectangle {
    width: 64px;
    height: 64px;
    background: rgb(243 243 243);
    opacity: 1;
    position: absolute;
    top: 13px;
    left: 96px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgb(0 0 0 / 4%);
    overflow: hidden;
    border: none;
    box-shadow: -4px 4px 2px rgb(204 203 203 / 50%);
  }
  .thirdGrayRectangle {
    width: 64px;
    height: 64px;
    background: rgb(243 243 243);
    opacity: 1;
    position: absolute;
    top: 13px;
    left: 176px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgb(0 0 0 / 4%);
    overflow: hidden;
    border: none;
    box-shadow: -4px 4px 2px rgb(204 203 203 / 50%);
  }
  .fourthGrayRectangle {
    width: 64px;
    height: 64px;
    background: rgb(243 243 243);
    opacity: 1;
    position: absolute;
    top: 13px;
    left: 256px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgb(0 0 0 / 4%);
    overflow: hidden;
    border: none;
    box-shadow: -4px 4px 2px rgb(204 203 203 / 50%);
  }
  .fifthGrayRectangle {
    width: 64px;
    height: 64px;
    background: rgb(243 243 243);
    opacity: 1;
    position: absolute;
    top: 13px;
    left: 336px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 1px 12px rgb(0 0 0 / 4%);
    overflow: hidden;
    border: none;
    box-shadow: -4px 4px 2px rgb(204 203 203 / 50%);
  }
  .fixed-nav-bar {
    position: fixed;
    bottom: 0;
    width: 414px;
    height: 92px;
    background: rgb(249 249 249);
    opacity: 1;
    left: 0px;
    box-shadow: 0px -1px 0px rgb(0 0 0 / 15%);
    overflow: hidden;;
  }